<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_Summer_Bootcamp67/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: Fill in the blanks with math operators so that the statement below print out the following:

```
1 2 2.5 25
```

In [ ]:
print(5 __ 2, 5 __ 2, 5 __ 2, 5 __ 2)

**Q2**: Fill in the blank so that the program print out 4 2 0 -2 -4

In [ ]:
for i in range(______):
  print(i, end=' ')

**Q3**: Fill a number in the blank so that the following program print out 'D'

In [ ]:
num = __
if num >= 49:
  print('A')
else:
  if num < 45 or num > 60:
    print('B')
  elif num % 5 == 0 or num%2==0:
    print('C')
  else:
    print('D')

**Q4**: Fix the error of the following code. When the user enters 10, the program should print out 50 51

In [ ]:
x = input('Enter x:')
x *= 5
print(x, x+1)

**Q5**: Date formatting

Write a program to receive day, month, year, and the date format ('US', 'JP', 'TH') from the user and then print out the date in that format.

The format for 'US' is Month Day Year.

The format for 'JP' is Year Month Day.

The format for 'TH' is Day Month Year.

Example 1:
```
Enter day: 1
Enter month: 10
Enter year: 2024
Enter format: US
Month 10 Day 1 Year 2024
```

Example 2:
```
Enter day: 1
Enter month: 10
Enter year: 2024
Enter format: JP
Year 2024 Month 10 Day 1
```

Example 3:
```
Enter day: 1
Enter month: 10
Enter year: 2024
Enter format: TH
Day 1 Month 10 Year 2024
```

**Q6**: Let's make milk puddings

Let's buy some more eggs and milk to make some milk puddings!
To make one BIG pudding, it requires 10 eggs and 3 bottles of milk. The inputs will be the price of egg and the price of milk and the number of pudding we want to make. As usual, you will get some discount if you buy a lot of eggs and milks as follow.

* If you buy at least 30 eggs, you will get 20% discount on eggs.
* If you buy at least 20 bottles of milks, you will get 10% discount on milk.

Print out the total cost.

**input**
* The price of egg
* The price of milk
* The number of puddings to be made

**Output**
* The original total cost in two decimal places.
* The discounted cost in two decimal places.

**Note**
* Use Named Constant

Examples
```
Enter the price of an egg: 5
Enter the price of milk: 20
Enter the number of pudding to be made: 10
The original cost is 1100.00
The discounted cost is 940.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 20
Enter the number of pudding to be made: 2
The original cost is 320.00
The discounted cost is 320.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 30
Enter the number of pudding to be made: 20
The original cost is 3800.00
The discounted cost is 3220.00
```

**Q7**: Printing up traingle

Write a program that takes in an interger number from a user and then print out a traingle shown below.

Example 1:
```
n = 1
*
```

Example 2:
```
n = 2
*
**
```

Example 3:
```
n = 5
*
**
***
****
*****
```

**Q8**: Printing outer traingle

Write a program that takes in an interger number from a user and then print out an outer traingle shown below.

Example 1:
```
Enter a number: 1
*
```
Example 2:
```
Enter a number: 2
*
 *
```
Example 3:
```
Enter a number: 6
*
 *
  *
   *
    *
     *
```

**Q9**: Nim Game

Write a program to create a Nim game. In this game, there are two players. Each player takes turn to count the number down by 1 or 2. Who count to zero first lose. The starting amount is 10.

Example
```
First player turn: 1
Remaining = 9
Second player turn: 2
Remaining = 7
First player turn: 1
Remaining = 6
Second player turn: 2
Remaining = 4
First player turn: 1
Remaining = 3
Second player turn: 2
Remaining = 1
First player turn: 1
Second player wins.
```