<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_Summer_Bootcamp67/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: Fix the error of the following code. When the user enters 10, the program should print out 50 51

In [ ]:
x = input('Enter x:')
x *= 5
print(x, x+1)

**Q2**: Fill in the blank so the the program prints out 'Yes', when the user input the number between 20 and 30.

In [ ]:
num = int(input('Enter a number: '))
if __________________________________: #fill in your code here
  print('Yes')
else:
  print('No')

**Q3**: Fill in the blank so that the program print out as shown below.

```
Hello
Hello
Hello
Hello
```

In [ ]:
for i in range(_):
  print("Hello")

**Q4**: Fill in the blank so that the program print out `12`

In [ ]:
total = 0
count = 1
while count < 5:
  total += __   # Here
  count += 1
print(total)

**Q5**: Fill in the blank so that the program print out `5`

In [ ]:
numbers = [1, 2, 3, 4, 5, 4, 3, 2, 1]
count = 0
for num in numbers:
  if ______________________:
    count += 1
print(count)

**Q6**: Fill in the blanks with math operators so that the statement below print out the following:

```
1 2 2.5 25
```

In [ ]:
print(5 __ 2, 5 __ 2, 5 __ 2, 5 __ 2)

**Q7**: Fill in the blank so that the program print out 4 2 0 -2 -4

In [ ]:
for i in range(______):
  print(i, end=' ')

**Q8**: Fill a number in the blank so that the following program print out 'D'

In [ ]:
num = __
if num >= 49:
  print('A')
else:
  if num < 45 or num > 60:
    print('B')
  elif num % 5 == 0 or num%2==0:
    print('C')
  else:
    print('D')

**Q9**: Date formatting

Write a program to receive day, month, year, and the date format ('US', 'JP', 'TH') from the user and then print out the date in that format.

The format for 'US' is Month Day Year.

The format for 'JP' is Year Month Day.

The format for 'TH' is Day Month Year.

Example 1:
```
Enter day: 1
Enter month: 10
Enter year: 2024
Enter format: US
Month 10 Day 1 Year 2024
```

Example 2:
```
Enter day: 1
Enter month: 10
Enter year: 2024
Enter format: JP
Year 2024 Month 10 Day 1
```

Example 3:
```
Enter day: 1
Enter month: 10
Enter year: 2024
Enter format: TH
Day 1 Month 10 Year 2024
```

**Q10**: Let's make milk puddings

Let's buy some more eggs and milk to make some milk puddings!
To make one BIG pudding, it requires 10 eggs and 3 bottles of milk. The inputs will be the price of egg and the price of milk and the number of pudding we want to make. As usual, you will get some discount if you buy a lot of eggs and milks as follow.

* If you buy at least 30 eggs, you will get 20% discount on eggs.
* If you buy at least 20 bottles of milks, you will get 10% discount on milk.

Print out the total cost.

**input**
* The price of egg
* The price of milk
* The number of puddings to be made

**Output**
* The original total cost in two decimal places.
* The discounted cost in two decimal places.

**Note**
* Use Named Constant

Examples
```
Enter the price of an egg: 5
Enter the price of milk: 20
Enter the number of pudding to be made: 10
The original cost is 1100.00
The discounted cost is 940.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 20
Enter the number of pudding to be made: 2
The original cost is 320.00
The discounted cost is 320.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 30
Enter the number of pudding to be made: 20
The original cost is 3800.00
The discounted cost is 3220.00
```

**Q11** Finding a largest number

Write a program to find a largest number that the user enters. The program will first ask the user to the number `n` the number of numbers that the user will enter. Afterward, the user will enter `n` numbers. The user will always enter a positive numbers (see examples).

Example 1:
```
n = 3
1
2
3
3
The largest number is 3
```
Example 2:
```
n = 4
1000
100
10
1
The largest number is 1000
```
Example 3:
```
n = 5
3
999
1234
888
7
The largest number is 1234
```

In [ ]:
n = int(input('n = '))
largest = -1  # Use this to maintain the largest number so far

**Q12**: Printing up traingle

Write a program that takes in an interger number from a user and then print out a traingle shown below.

Example 1:
```
n = 1
*
```

Example 2:
```
n = 2
*
**
```

Example 3:
```
n = 5
*
**
***
****
*****
```

**Q13**: Calculate variance Ver 2

You are given a list of numbers. Your task is to calculate the variance of the list using the following formula

$var = \frac{∑_i(x_i - \mu)^2}{n}$,

where $\mu$ is the mean $\mu = \frac{1}{n}\sum_ix_i$.

**Hint:** separate the calculation into two parts (two loops)

In [ ]:
# simply use these test_list below to test use your code
# Comment out to test other lists
test_list = [1,2,3,4,5]           # The answer is 2
# test_list = [1,1,1,1,1]           # The answer is 0
# test_list = [9,1,4,12,0,-2,4,8]   # The answer is 20.5

n = len(test_list)

# Your code below

**Q14**: Nim Game

Write a program to create a Nim game. In this game, there are two players. Each player takes turn to count the number down by 1 or 2. Who count to zero first lose. The starting amount is 10.

**Hint**: You can determine the turn (first or second player) by checking the turn number. If the turn number is odd, then it's the first player. If thet turn number is even, then it's the second player.

Example
```
First player turn: 1
Remaining = 9
Second player turn: 2
Remaining = 7
First player turn: 1
Remaining = 6
Second player turn: 2
Remaining = 4
First player turn: 1
Remaining = 3
Second player turn: 2
Remaining = 1
First player turn: 1
Second player wins.
```

In [ ]:
remaining = 10
turn = 1