<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_Summer_Bootcamp67/blob/main/List_Bootcamp_ver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

## List

`list` : a list of items enclosed in `[ ]` and separated by commas.
* Syntax:  `list = [item1, item2, item3]`
* items can be any data type (int, float, string, etc.)

In [1]:
list1 = [10, 30, 24, 15, 24, 50, 12]
print(list1)

[10, 30, 24, 15, 24, 50, 12]

In [2]:
list2 = ["A","B","C","D","E"]
print(list2)

['A', 'B', 'C', 'D', 'E']

## List: Indexing
* You access elements in the list by indexing
* Index: a number specifying the position of an element in a list
* Syntax:  list[i], where  i  is the index
* Sequence of index:  `0, 1, ..., n - 1` , where  `n`  = the length of the list.

In [3]:
seq1 = ["A","B","C","D","E","F"]
#index   0   1   2   3   4   5
print(seq1[0])
print(seq1[4])

A
E

* Index: a number specifying the position of an element in a list
* Index can be negative: Counting backward. The last element index is -1.

In [4]:
seq1 = ["A","B","C","D","E","F"]
#index  -6  -5  -4  -3  -2  -1
print(seq1[-1])
print(seq1[-4])

F
C

## List: Updating

* Assigning new value:  list[index] = new_value
* index has to be valid (not out of range).

In [5]:
seq1 = ["A","B","C","D","E","F"]

print(f"Before seq1[1] = {seq1[1]}")
seq1[1] = "O"
print(f"After seq1[1] = {seq1[1]}")
seq1[1] = 2
print(f"After2 seq1[1] = {seq1[1]}")

Before seq1[1] = B
After seq1[1] = O
After2 seq1[1] = 2

## Looping through a list


* 1st Iteration: num = 1
* 2nd Iteration: num = 2
* 3rd Iteration: num = 3
* 4th Iteration: num = 4
* 5th Iteration: num =5

In [6]:
for num in [1,2,3,4,5]:
  print(num)

1
2
3
4
5

## For loop through indexes of a list
* `len(list)` function returns the length of list
* `range(len(list))` generate a sequence of numbers from `0` to `len(list) - 1`

In [7]:
names = ["Alice","Danny","Matthew","Rosa"]
for i in range(len(names)):
  print(names[i])

Alice
Danny
Matthew
Rosa

## Updating list example: Age number to young/old
* Problem: Given a list of numbers (age), turn it into a list of "young" and
  "old". If age is less than 18, "young". Otherwise, "old".
* Example:
  * Before: Age_list = [10,30,50,15]
  * After: Age_list = [‘young’,’old’,’old’,’young’]

In [8]:
age_list = [10, 50, 30, 15]
for i in range(len(age_list)):
  if age_list[i] > 18:
    age_list[i] = 'old'
  else:
    age_list[i] = 'young'
print(age_list)

['young', 'old', 'old', 'young']

## Repetition Operator: *
* `*`  : a repetition operator
* **Syntax**: `list * n`
* Creates a new list which repeats the old list `n` times

In [10]:
# * ex1
num1 = [1,2,3]
num2 = num1 * 3
print(num2)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
# * ex2
zeros = [0]*5
print(zeros)

[0, 0, 0, 0, 0]

## Concatenation Operator: +
* `+`  : a concatenation operator
* **Syntax**: `list1 + list2`
* Creates a new list which concatenate the two lists together

In [12]:
seq1 = ["A","B","C","D","E","F"]
seq2 = ["G","H","I"]
seq3 = seq1 + seq2
print(seq3)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

## Checking item Operator: in
* `in`  : checking item in the list (return True or False)
* **Syntax**: `item in list`

In [13]:
names = ["Alice","Danny","Matthew","Rosa"]

print("Alice" in names)
print("alice" in names)

True
False

## append() Method: Adding new values to the list

* **Syntax**: `list.append(item)`
* Adding the item to the end of the list.

In [14]:
age_list = [10, 50, 20]
age_list.append(15)
print(age_list)

[10, 50, 20, 15]

## Append example: Receive n inputs from the user

* **Problem**: This time we will create a new list based on user's inputs.
* **Solution**: Using `append()` to add inputs to the list

In [15]:
n = int(input("Enter n: "))
age_list = [] # empty list
for _ in range(n):
  age = int(input("Enter age: "))
  age_list.append(age)
print(f"The age list is {age_list}")

Enter n: 4
Enter age: 10
Enter age: 15
Enter age: 30
Enter age: 45
The age list is [10, 15, 30, 45]

## insert() method
* `insert(index, item)`: insert item at position index of the list

In [16]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(2, 55)
print(numbers)

[1, 2, 55, 3, 4, 5]

## remove() method
* `remove(item)` : removes the **first occurance** of item in the list
* Raise ValueError exception if item is not in the list

In [17]:
numbers = [1, 2, 3, 4, 5, 2]
numbers.remove(2)
print(numbers)

[1, 3, 4, 5, 2]

## del built-in function

* `del` statement: removes an element from a specific index in a list
* **Syntax**: `del list[i]`

In [18]:
seq1 = ["A","B","C","D","E","F"]

del seq1[1]
print(seq1)

del seq1[-1]
print(seq1)

['A', 'C', 'D', 'E', 'F']
['A', 'C', 'D', 'E']

## Useful built-in functions

* `min` and `max` functions: returns the minimum and maximum values in the list.
* `sum` function: returns the sum of all values in the list

In [ ]:
numbers = [1, 2, 3, 4, 5]

print("The minimum value is ", min(numbers))
print("The maximum value is ", max(numbers))
print("The sum is ", sum(numbers))

## List Referencing
* Consider a case when you create a list and assign it to a variable.
  * `list1 = [1,2,3,4]`
* When you assign a list to another variable, the new variable will point to the same list in the memory. `list2 = list1`
* The assignment just copies the reference to the list, not the actual list.

&emsp;&emsp;&emsp;&emsp;&emsp;![function1.png](https://drive.google.com/uc?export=view&id=1O7Us32iHPMdx6-nSOTnh1EP7xKHDYX-n)

In [19]:
# List referencing
list1 = [1, 2, 3, 4]
list2 = list1

print(f"Before: list1 = {list1}, list2 = {list2}")

list1[1] = 0

print(f"After: list1 = {list1}, list2 = {list2}")

Before: list1 = [1, 2, 3, 4], list2 = [1, 2, 3, 4]
After: list1 = [1, 0, 3, 4], list2 = [1, 0, 3, 4]

## Copying list: method
* To make a copy of a list you must copy each element of the list

In [20]:
# Copying method 1:
# Create a new empty list and loop to add the old list into it

list1 = [1, 2, 3, 4]
list2 = []
for item in list1:
  list2.append(item)

list1[1] = 0
print(f"After: list1 = {list1}, list2 = {list2}")

After: list1 = [1, 0, 3, 4], list2 = [1, 2, 3, 4]

In [21]:
# Copying method 2:
# Create a new empty list and concate the old list

list1 = [1, 2, 3, 4]
list2 = [] + list1

list1[1] = 0
print(f"After: list1 = {list1}, list2 = {list2}")

After: list1 = [1, 0, 3, 4], list2 = [1, 2, 3, 4]

## Two-dimensional list
* The items in the list can be other lists.
* Two-dimensional list: a list that contains other lists as its elements
* Common to think of two-dimensional lists as a table having rows and columns

## Two-dimensional lists Examples

In [22]:
# 2d-list ex1:
students = [["Joe","Kim"],["Sam","Sue"],["Kelly","Chris"]]
print(students)
print(students[0])
print(students[0][1])

[['Joe', 'Kim'], ['Sam', 'Sue'], ['Kelly', 'Chris']]
['Joe', 'Kim']
Kim

In [23]:
# 2d-list ex2:
## Create a 2d board
board = [[1,2,3],
         [4,5,6],
         [7,8,9]]

for i in range(len(board)):
  for j in range(len(board[i])):
    board[i][j] = board[i][j]**2
print(board)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]