<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_Summer_Bootcamp67/blob/main/Repetition_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: What will the following program print out?

```
total = 0
for i in range(10):
  total += 3
print(total)
```

**Q2**: What will the following program print out?

```
total = 0
count = 5
while count > 0:
  total = total + count
  count = count - 1
print(total)
```

**Q3**: Fill in the blank so that the program print out 0, 1, 2, 3, 4

In [ ]:
for number in range(_):
  print(number)

**Q4**: There is a bug in the code below and the loop won't stop. Fill in the blank so that the loop will stop eventually.

In [ ]:
count = 0
while count < 5:
  print(count)
  _____________  #Fill in your code here

**Q5**: Calculate the average

Write a program to calculate the average of a given list below.

The average is the sum of all numbers in the sequence divided by the total number,
$\frac{1}{n}\sum_i^n x_i$, where $x$ is a sequence of $n$ numbers.

In [ ]:
data = [10,20,31,23,54,71,19,32,29]  # the mean should be 32.11...
length = 9                           # You can get this using len(data) but we will talk about it tomorrow.
# Fill in your code here

**Q6**: Calculate sum from the user's input

Write a program that repeatedly prompts a user for integer numbers until the user enters -999999.

Once the loop stops, print out the sum of all numbers from the user.

Example:
```
Enter a number: 5
Enter a number: 3
Enter a number: 10
Enter a number: -999999
The total is 18
```

**Q7**: Divisible sequence

Write a program that take in two numbers $n$ and $m$ from a user. <br> Then print out a sequence of numbers from 1 to $n$ separated by commas. <br> If a number in the sequence is divisible by $m$, print 'D' instead.

**Extra**: Don't print out any extra comma at the end.


Example:

```
Enter n: 20
Enter m: 4
1,2,3,D,5,6,7,D,9,10,11,D,13,14,15,D,17,18,19,D
```

```
Enter n: 100
Enter m: 3
1,2,D,4,5,D,7,8,D,10,11,D,13,14,D,16,17,D,19,20,D,22,23,D,25,26,D,28,29,D,31,32,D,34,35,D,37,38,D,40,41,D,43,44,D,46,47,D,49,50,D,52,53,D,55,56,D,58,59,D,61,62,D,64,65,D,67,68,D,70,71,D,73,74,D,76,77,D,79,80,D,82,83,D,85,86,D,88,89,D,91,92,D,94,95,D,97,98,D,100
```